.contour {
    border: solid black 1px;
    height: 210px;
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 6px;
    overflow: hidden;
}

.mois-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 4px;
}

.ligne-jours {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 8px;
    gap: 3px;
    font-size: 10px;
}

.grille-jours {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 6px;
    font-size: 15px;
}

.jour-ferie:hover {
    color: rgb(255, 167, 25);

}

.content-calendrier {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

@media (max-width: 799px) {
    .content-calendrier {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 499px) {
    .content-calendrier {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .content-calendrier {
        grid-template-columns: repeat(1, 1fr);
    }
}