:root {
  --duration: 0.75s;
  --detailsPadding: 25px;
  interpolate-size: allow-keywords;
}

summary {
  cursor: pointer;
  font-size: 25px;
  border: solid black 2px;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: lightgray;
  font-weight: bold;
  padding: var(--detailsPadding);

  &::marker {
    font-size: 1.0em;
  }
}

details {
  div {
    box-sizing: border-box;
    border-radius: 20px;
    ;
    font-size: 22px;
  }

  span {
    font-size: 20px;
    text-decoration: underline;
    margin-right: 10px;
    color: blue;
    font-family: monospace;
  }

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition:
      content-visibility var(--duration) allow-discrete,
      opacity var(--duration),
      block-size var(--duration);
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
}

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-bottom: 50px;
  text-align: center;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  border-radius: 10px;
  margin: 10px;
}

summary:hover {
  background-color: lightblue;
}

.ellipsis:hover {
  background-color: lightblue;
}

.scroll {
  overflow-y: scroll;
  max-height: 80vh;
}
.scroll{
  overflow-y: auto;
  max-height: 80vh;      
  padding-bottom: 90px;  
  box-sizing: border-box;
}
