:root {
  --gap: 5px;
  --trans-speed: 0.5s;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;

  &>* {
    padding: var(--gap);
    margin: var(--gap);
  }

  .header {
    display: inline;
  }

  .footer {
    display: inline;
  }

  .main {
    flex: auto;
    min-height: 5vh;
  }

  .scroll {
    overflow-y: auto;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.imageFrame {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  aspect-ratio: 1/1;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    scale: 1.05;
    transition: var(--trans-speed);
  }

  transition: var(--trans-speed);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.content.content-mosaic {
  display: grid;
  width: 100%;
  gap: 4px;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 1099px) {
  .content.content-mosaic {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 899px) {
  .content.content-mosaic {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 699px) {
  .content.content-mosaic {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 499px) {
  .content.content-mosaic {
    grid-template-columns: repeat(2, 1fr);
  }

}


 .scrollindex{ 
  overflow-y:auto;
   height:75vh; 
  }


.content.content-mosaic .imageFrame {
  height: auto;
  width: 100%;
}

.footer {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
  border-radius: 10px;
  margin: 10px;

}